
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    overflow-x: auto;
    background: url(../illustrations/asana4.jpg)no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
} 
.home_content{
    width:100%;
    color: black;
}

.heading{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 6em;
    padding-top: 10px;
} 
.home_content .heading .logout a{
background-color: darkcyan;
text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  /* position: relative;
  left: 12em;
  top: 6em; */
}
.home_content .heading .logout a:hover{
    background-color: darkgray;
    color: black;
    
}
.body{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}
.col{
    width:80em;
    margin:auto;
}

.home_content .col .card.card1 p{
    font-size: larger;
    margin: 5em;
    opacity: 0.4;

}
/*.home_content .col .card.card1 a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  left: 26em;
  top: 4em;
}*/
.home_content .col .card.card1 button{
background-color: darkcyan;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  /* position: relative;
  left: 12em;
  top: 6em; */
}
.home_content .col .card.card1 button:hover{
    background-color: darkgray;
    color: black;
    
}
.home_content .col .card.card2 button{
background-color: darkcyan;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  /* position: relative;
  left: 12em;
  top: 6em; */
}
.home_content .col .card.card2 button:hover{
    background-color: darkgray;
    color: black;
    
}
.fa-solid fa-plus{
    font-size: 20px;
}
.home_content .col .card h3{
    border-bottom: 2px solid darkcyan;
    display: inline-block;
    /* border-bottom-left-radius: 6px; */
    margin-bottom: 15px;
}
.card {
    width: 37em;
    height: 25em;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    box-shadow:0 4px 6px rgba(0, 0, 0,0.13) ;
    background-color: white;
    /* backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: 2px solid antiquewhite;
    border-left: 2px solid white; */
}
.card1, .card2 {
float: left;
}
/* .card3, .card4 {
clear: both;
float: left;
width: 50%;
} */
.form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 10px;
}

.form h3{
    text-align: center;
    margin-bottom: 24px;
    color: black;
}
.form .form-group{
    display: flex;
    flex-direction: column;
    margin: 4px 0;

}
.form-group label{
    font-size: 12px;
    font-weight: 500;
color: #2e2e2e;
}
.form-group select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.form-group select:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgb(0 0 0 / 13%);
}

.form .operations button{
background-color: darkcyan;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.form .operations button#submitTeam:hover{
    background-color: darkgrey;
    color:white;
}
.form .operations button#closeFormBtn:hover{
    background-color: #f43030;
    color:white;
}

